center {
}

header {
  color: azure;
  text-align: center;
  padding: 1rem 0;
}

body {
  background-color: rgb(43, 1, 52);
  color: azure;
}
.topmenu {
  color: azure;
  color-scheme: azure;
}

nav ul {
  list-style: none;
  padding: 5mm;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.home {
  font-size: x-large;
  color: azure;
}

.resume {
  font-size: x-large;
  color: azure;
}

.projects {
  font-size: x-large;
  color: azure;
}

.contact {
  font-size: x-large;
  color: azure;
}

.jonathanbieganskipng {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.jonathanbieganskiname {
  text-align: center;
  font-size: xxx-large;
  color: azure;
}

.jobtitle {
  text-align: center;
  color: azure;
}

.about {
  padding-top: 10mm;
}

.aboutcontent {
  text-align: center;
  width: 600px;
  margin: auto;
}
.projects {
  padding-top: 5mm;
  text-align: center;
  width: 600px;
  margin: auto;
}

.cloudresumeprojects {
  padding-top: 5mm;
  text-align: center;
  width: 600px;
  margin: auto;
}
.contactme {
  padding-top: 5mm;
  text-align: center;
  width: 600px;
  margin: auto;
}

footer {
  background-color: rgb(32, 1, 32);
  color: white;
  text-align: center;
  padding: 2rem 0;
}
