header {
  color: azure;
  text-align: center;
  padding: 1rem 0;
}

body {
  background-color: rgb(43, 1, 52);
  color: azure;
}
.topmenu {
  color: azure;
  color-scheme: azure;
}

nav ul {
  list-style: none;
  padding: 5mm;
}

nav li {
  display: inline;
  margin-right: 20px;
}

.home {
  font-size: x-large;
  color: azure;
}

.resume {
  font-size: x-large;
  color: azure;
}

.projects {
  font-size: x-large;
  color: azure;
}

.contact {
  font-size: x-large;
  color: azure;
}

.jonathanbieganskipng {
  padding-left: 2mm;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.jonathanbieganskiname {
  font-size: x-large;
  padding-left: 2mm;
  color: azure;
}

.about {
  padding-top: 10mm;
}

.projects {
  padding-top: 5mm;
}

.contactme {
  padding-top: 5mm;
}
footer {
  background-color: rgb(32, 1, 32);
  color: white;
  text-align: center;
  padding: 2rem 0;
}
