header {
  color: azure;
  text-align: center;
  padding: 1rem 0;
}

.topmenu {
  color: azure;
  color-scheme: azure;
}

nav ul {
  list-style: none;
  padding: 10mm;
}

nav li {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

body {
  background-color: rgb(43, 1, 52);
  color: azure;
}

.home {
  font-size: x-large;
  color: azure;
}

.resume {
  font-size: x-large;
  color: azure;
}

.projects {
  font-size: x-large;
  color: azure;
}

.contact {
  font-size: x-large;
  color: azure;
}

.jonathanbieganskipng {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.jonathanbieganskiname {
  text-align: center;
  font-size: xx-large;
  color: azure;
}

.jobtitle {
  text-align: center;
  color: azure;
}

.about {
  padding-top: 10mm;
}

.aboutcontent {
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.projects {
  padding-top: 15mm;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

ol {
  list-style-position: inside;
}

.divcloudresumechallengecenter {
  text-align: center;
}

.cloudresumeprojects {
  padding-top: 5mm;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.contactme {
  padding-top: 15mm;
  text-align: left;
  margin-left: 50px;
}

.contactmecontent {
  padding-top: 5mm;
  text-align: left;
  margin-left: 100px;
  margin-right: 50px;
}

footer {
  background-color: rgb(32, 1, 32);
  color: white;
  text-align: center;
  padding: 2rem 0;
}
