.topmenu {
  color: purple;
}

.Home {
  font-size: large;
}

.jonathanbieganskipng {
  width: 200px;
  height: 150px;
  border-radius: 50%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

section {
  padding: 2rem;
}

.project {
  margin-bottom: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
