nav li {
  display: inline;
  margin-right: 20px;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
  background-color: purple;
  color: #fff;
  padding: 20px;
}

h2 {
  text-align: center;
  background-color: purple;
  color: #fff;
  padding: 20px;
}

h3 {
  text-align: center;
  background-color: purple;
  color: #fff;
  padding: 20px;
}

.workdates {
  text-align: right;
  color: #fff;
}

.jonathanbieganski {
  background-color: black;
  color: whitesmoke;
}

.experience {
  background-color: black;
  color: whitesmoke;
}
