
body {background-color: purple;}      

.jonathanbieganskipng{
  img {
    width: 100px;
    height: 200px;
    object-fit: cover;
  }
}

  em {
    color: white;
    font-style: normal;
  }

  img {
    width: 250px;
    border-radius: 125px;
    float: left;
    margin: right;
  }

  .username {
    font-weight: bold;
  }